*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATIOn */

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom, #333, #626262);
    z-index: 10;
}

.logo-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 25;
    display: none;
}

.liste-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 20;
}

.item-nav {
    display: flex;
    align-items: center;
}

.item-nav a {
    color: #F1F1F1;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
}