*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom, #333, #626262);
    z-index: 10;
}

.logo-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 50px;
    z-index: 25;
    display: none;
}

.liste-nav {
    background: linear-gradient(to bottom, #333, #626262);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 20;
}

.item-nav {
    display: flex;
    align-items: center;
}

.item-nav a {
    color: #F1F1F1;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
}

/* ANIMATION DANS LA BARRE DE NAVIGATION */

.item-nav a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #F1F1F1;
    transition: width 0.2s ease-in-out;
}

.item-nav a:hover::after {
    width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    .logo-menu {
        display: block;
    }

    .liste-nav {
        flex-direction: column;
        position: relative;
        height: auto;
        padding-top: 70px;
        display: none;
    }

    .liste-nav.active {
        display: block;
    }

    .item-nav {
        height: 70px;
        justify-content: center;
    }
}

/* STYLE DE L'ACCUEIL */

.accueil {
    width: 100%;
    height: 100%;
    min-height: 970px;
    background-image: url("ressources/accueil-pic-lum-down.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px dotted #777;
    padding-top: 1px;
}

.logo-kyoto {
    width: 180px;
    display: block;
    border-radius: 50%;
    margin: 180px auto 0;
}

.accueil h1 {
    text-align: center;
    font-size: 100px;
    color: #F1F1F1;
    text-shadow: 0 0 10px #000;
    margin: 10px;
    font-family: "Merienda", "Sans-serif";
}

.sous-titre {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    color: #F1F1F1;
    text-shadow: 0 0 10px #000;
    font-family: "Nunito Sans", "Sans-serif";
}

.btn-accueil {
    text-align: center;
    font-size: 22px;
    background: crimson;
    display: block;
    color: #F1F1F1;
    text-decoration: none;
    width: 200px;
    line-height: 70px;
    margin: 30px auto 0;
    border: 1px solid #333;
    border-radius: 900px;
    transition: all 0.2 ease-in-out;
}

.btn-accueil:hover {
    background: rgb(177, 0, 36);
    color: #FFF;
}

.section-asymetrique {
    display: grid;
    grid-template: 200px repeat(3, auto) / 1fr 600px 1fr;
}

.section-asymetrique h2 {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #333;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.block-1, .img-grid-1 {
    grid-area: 2 / 2 / 3 / 3;
}

.block-right, .img-grid-2 {
    grid-area: 3 / 2 / 4 / 3;
}

.block-3, .img-grid-3 {
    grid-area: 4 / 2 / 5 / 3;
}

.block {
    position: relative;
    height: 750px;
    background: #333;
    color: #F1F1F1;
    border-radius: 2px;
    margin-bottom: 250px;
}

.img-grid {
    width: 500px;
    height: 700px;
    position: relative;
    object-fit: cover;
}

.img-grid-1, .img-grid-3 {
    left: 20px;
    top: 130px;
}

.block-left {
    left: -300px;
}

.block-texte-left {
    height: 100%;
    width: 50%;
}

.block-texte-left h3 {
    white-space: nowrap;
    font-size: 35px;
    margin: 35px 15px;
}

.block-texte-left p {
    margin: 15px;
    line-height: 40px;
}

.block button {
    border-radius: 99999px;
    background: crimson;
    display: block;
    color: #F1F1F1;
    outline: none;
    padding: 20px 35px;
    border: none;
    border: 1px solid #333;
    margin: 35px auto;
    cursor: pointer;
}

.img-grid-2 {
    left: 100px;
    top: 130px;
}

.block-right {
    right: -300px;
}

.block-texte-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
}

.block-texte-right h3 {
    position: relative;
    font-size: 35px;
    margin: 35px 2px;
    white-space: nowrap;
}


.block-texte-right p {
    line-height: 40px;
    padding: 15px;
}

.ligne-gauche {
    grid-area: 1 / 2 / -1 / 3;
    border-left: 1px solid #333;
}

.ligne-droite {
    grid-area: 1 / 3 / -1 / 4;
    border-left: 1px solid #333;
}

@media screen and (max-width: 1200px) {
    .section-asymetrique h2{
        font-size: 50px;
        padding-bottom: 0px;
    }
 
    .bloc-1 {
        grid-area: 2 / 2 / 3 / 3;
    }
 
    .img-grid-1 {
        grid-area: 3 / 2 / 4 / 3;
    }
 
    .bloc-right {
        grid-area: 4 / 2 / 5 / 3;
    }
 
    .img-grid-2 {
        grid-area: 5 / 2 / 6 / 3;
    }
   
    .bloc-3{
        grid-area: 6 / 2 / 7 / 3;
    }
 
    .img-grid-3{
        grid-area: 7 / 2 / 8 / 3;
    }
 
    .bloc{
        height: 100%;
        margin-bottom: 0;
    }
 
    .img-grid {
        position: static;
        width: 600px;
        height: 750px;
    }
 
    .img-grid-1 .img-grid-3{
        top: 0px;
        left: 0px;
    }
 
    .img-grid-2 {
        top: 0px;
        right: 0px;
    }
 
    .bloc-left{
        left: 0px;
    }
 
    .bloc-right{
        right: 0px;
 
    }
 
    .bloc-text-left{
        width: 100%;
        height: 100%;
    }
 
    .bloc-text-right {
        position: static;
        width: 100%;
        height: 100%;
    }
}